.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  background-color: hsl(48, 94%, 53%);
  height: 100vh;
}
.main {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon-text1 {
  display: grid;
  grid-template-columns: 40px 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  color: white;
  height: 40%;
  width: 70%;
  margin: 0 auto;
  margin-top: 10%;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20%;
}
.logo-text {
  color: white;
  text-align: center;
}
.logo-text h1 {
  display: inline-block;
  position: relative;
  left: -10px;
}
.logo-text img {
  position: relative;
  top: 4px;
  left: -10px;
}
.main {
  display: grid;
  grid-template-rows: 20% 80%;
}
.upper-main {
  background-color: white;
}
.lower-main {
  background-color: hsl(22, 6%, 76%);
}
